.notification-container {
  position: fixed;
  right: 8px;
  top: 8px;
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: white;
  z-index: 1001;
}

.notification {
  display: flex;
  width: 444px;
  height: 44px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  gap: 8px;
  border-radius: 40px;
  box-shadow: inset 0 0 0 3px #FFFFFF40;
  align-items: center;
  cursor: pointer;
  transition: scale 300ms cubic-bezier(0.22, 1, 0.36, 1), transform 700ms cubic-bezier(0.22, 1, 0.36, 1);
  transform: translateX(498px);
}

.notification:active {
  scale: 0.98;
}

.notification-red {
  background: linear-gradient(
    to right,
    oklch(70% 0.17 20 / 0.9),
    oklch(70% 0.17 320 / 0.9)
  );
}

.notification-fire {
  background: linear-gradient(
    to right,
    oklch(70% 0.20 20 / 0.9),
    oklch(70% 0.20 350 / 0.9)
  );
}

.notification-orange {
  background: linear-gradient(
    to right,
    oklch(80% 0.17 50 / 0.9),
    oklch(80% 0.17 70 / 0.9)
  );
}

.notification-green {
  background: linear-gradient(
    to right,
    oklch(70% 0.17 180 / 0.9),
    oklch(70% 0.17 250 / 0.9)
  );
}

.notification-icon {
  width: 36px;
  height: 36px;
}

.notification-info {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.notification-title {
  width: 400px;
  font-size: 15px;
  font-weight: 600;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notification-description {
  width: 400px;
  font-size: 12px;
  font-weight: 400;
}
